<div class="chat" *ngIf="messages">
  <div class="chat__case">
    <div class="chat__earsection">
      <div class="chat__camera"></div>
      <div class="chat__speaker"></div>
    </div>
    <div class="chat__screen">
      <div class="chat__messages">
        <cdk-virtual-scroll-viewport
          itemSize="50"
          class="chat__scroller"
          #virtualScroll
        >
          <div
            *cdkVirtualFor="let message of messages"
            class="chat__message"
            [ngClass]="{
              'chat__message--current-user': userId === message.userId,
              'chat__message--other-user': userId !== message.userId
            }"
          >
            {{ message.body }}
          </div>
        </cdk-virtual-scroll-viewport>

        <div class="chat__form">
          <mat-form-field class="example-full-width">
            <input matInput #newMessage placeholder="Message" />
          </mat-form-field>

          <button
            mat-mini-fab
            color="primary"
            type="button"
            (click)="sendMessage(newMessage.value, newMessage)"
          >
            <mat-icon>send</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="chat__button">
      <div class="chat__buttonsquare"></div>
    </div>
  </div>
</div>
