<div class="container">
  <div class="home">
    <h1>Angular Chat Application</h1>

    <div class="home__icons">
      <div class="row">
        <div class="col-lg-3 col-md-3 home__icons-icon">
          <img src="/assets/images/google.png" alt="image angular" />
        </div>
        <div class="col-lg-3 col-md-3 home__icons-icon">
          <img src="/assets/images/angular.png" alt="image angular" />
        </div>
        <div class="col-lg-3 col-md-3 home__icons-icon">
          <img src="/assets/images/firebase.png" alt="image angular" />
        </div>
      </div>
    </div>
  </div>
</div>
