.chat-container {
  display: flex;

  &__room-list {
    width: 10rem;
    margin-right: 2rem;
    width: 20rem;
  }

  &__add-room {
    position: fixed;
    bottom: 4rem;
    right: 4rem;
  }
}

@media screen and (max-width: 390px) {
  .chat-container__room-list {
    margin-left: 30px;
  }
}
